{% extends 'base.html.twig' %}

{% block title %}Soutien Book{% endblock %}

{% block body %}
    {% if books is defined %}
        {%  for book in books %}
            <p>{{ book.name }} a été écrit en {{ book.year }} par {{ book.author }}</p>
        {% endfor %}
    {% else %}
        No book found.
    {% endif %}
{% endblock %}
